<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x400003" />

    <application
        android:name=".LlmNotesApp"
        android:allowBackup="true"
        android:largeHeap="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SynapseNotes"
        tools:targetApi="31">

        <!-- Allow access to vendor OpenCL library if present (e.g. Samsung/Qualcomm) -->
        <!-- 'required=false' allows installation on Pixel/others that lack it -->
        <uses-native-library android:name="libOpenCL.so" android:required="false" />
        <uses-native-library android:name="libOpenCL-pixel.so" android:required="false" />
        <uses-native-library android:name="libGLES_mali.so" android:required="false" />
        <uses-native-library android:name="libPVROCL.so" android:required="false" />

        <service
            android:name=".core.ai.probe.GpuProbeService"
            android:process=":gpu_probe"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SynapseNotes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
